**Sample Decision Tree**

In [45]:
# load dataset
import pandas as pd
df = pd.read_csv('Housing.csv')

In [46]:
# show first lines
df.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7229300521  20141013T000000  231300.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [47]:
# list columns
df.columns.to_list()

['id',
 'date',
 'price',
 'bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'view',
 'condition',
 'grade',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'zipcode',
 'lat',
 'long',
 'sqft_living15',
 'sqft_lot15']

In [48]:
# column types
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [49]:
# describe data
df.describe()

                 id         price  ...  sqft_living15     sqft_lot15
count  2.161300e+04  2.161300e+04  ...   21613.000000   21613.000000
mean   4.580306e+09  5.400886e+05  ...    1986.552492   12768.455652
std    2.876570e+09  3.671268e+05  ...     685.391304   27304.179631
min    1.000102e+06  7.500000e+04  ...     399.000000     651.000000
25%    2.123049e+09  3.219500e+05  ...    1490.000000    5100.000000
50%    3.904930e+09  4.500000e+05  ...    1840.000000    7620.000000
75%    7.308900e+09  6.450000e+05  ...    2360.000000   10083.000000
max    9.900000e+09  7.700000e+06  ...    6210.000000  871200.000000

[8 rows x 20 columns]

In [50]:
# missing values
df.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [51]:
# Select prediction Target (price)
y = df.price
y

0        231300.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64

In [52]:
# choosing features to predict target
housing_features = ['bedrooms', 'bathrooms', 'sqft_living']
X = df[housing_features]
X

       bedrooms  bathrooms  sqft_living
0             2       1.00         1180
1             3       2.25         2570
2             2       1.00          770
3             4       3.00         1960
4             3       2.00         1680
...         ...        ...          ...
21608         3       2.50         1530
21609         4       2.50         2310
21610         2       0.75         1020
21611         3       2.50         1600
21612         2       0.75         1020

[21613 rows x 3 columns]

In [53]:
# describe features
X.describe()

           bedrooms     bathrooms   sqft_living
count  21613.000000  21613.000000  21613.000000
mean       3.370795      2.114757   2079.899736
std        0.930105      0.770163    918.440897
min        0.000000      0.000000    290.000000
25%        3.000000      1.750000   1427.000000
50%        3.000000      2.250000   1910.000000
75%        4.000000      2.500000   2550.000000
max       33.000000      8.000000  13540.000000

In [54]:
# BUILDING THE MODEL
from sklearn.tree import DecisionTreeRegressor
housing_model = DecisionTreeRegressor(random_state=1)
housing_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [55]:
# Make predictions
X_sample = X.head(3)
y_pred = housing_model.predict(X_sample)
y_true = df.head(3).price
# Print results
print("Items to predict:")
print(X_sample)
print("Predictions:")
print(y_pred)
print("Real values:")
print(y_true.values)
print("Absolute errors:")
print((y_pred - y_true).values)

Items to predict:
   bedrooms  bathrooms  sqft_living
0         2       1.00         1180
1         3       2.25         2570
2         2       1.00          770
Predictions:
[354150.         503666.66666667 281901.62162162]
Real values:
[231300. 538000. 180000.]
Absolute errors:
[122850.         -34333.33333333 101901.62162162]

In [56]:
# Validate model using MAE (Mean Absolute Error)
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error
mae = mean_absolute_error(y_true, y_pred)
mape = mean_absolute_percentage_error(y_true, y_pred)
print(f"The mean absolute error is {mae} in percentage {mape*100:.2f} %")

The mean absolute error is 86361.65165165164 in percentage 38.70 %

In [57]:
# divide data in train and validation
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)
housing_model_train_test = DecisionTreeRegressor()
housing_model_train_test.fit(X=X_train, y=y_train)

DecisionTreeRegressor()

In [59]:
# Predict items across validation items
y_pred_X_test = housing_model_train_test.predict(X_test)
print(f"Predictions over training data: {y_pred_X_test}")
# MAE
print(f"MAE is {mean_absolute_error(y_test, y_pred_X_test)} in percentage {mean_absolute_percentage_error(y_test, y_pred_X_test)*100:.2f} %")

Predictions over training data: [324375.         600000.         350000.         ... 896600.
 334572.22222222 412401.        ]
MAE is 191305.1793444333 in percentage 38.33 %