**PARSE DATA**

In [61]:
# load data
import numpy as np
import pandas as pd
landslides = pd.read_csv('catalog.csv')
np.random.seed(0)

In [62]:
# columns that represents dates
landslides.head()

,id,date,time,continent_code,country_name,country_code,state/province,population,city/town,distance,...,geolocation,hazard_type,landslide_type,landslide_size,trigger,storm_name,injuries,fatalities,source_name,source_link
0,34,3/2/07,Night,NaN,United States,US,Virginia,16000,Cherry Hill,3.40765,...,"(38.600900000000003, -77.268199999999993)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,NBC 4 news,http://www.nbc4.com/news/11186871/detail.html
1,42,3/22/07,NaN,NaN,United States,US,Ohio,17288,New Philadelphia,3.33522,...,"(40.517499999999998, -81.430499999999995)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,Canton Rep.com,http://www.cantonrep.com/index.php?ID=345054&C...
2,56,4/6/07,NaN,NaN,United States,US,Pennsylvania,15930,Wilkinsburg,2.91977,...,"(40.4377, -79.915999999999997)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,The Pittsburgh Channel.com,https://web.archive.org/web/20080423132842/htt...
3,59,4/14/07,NaN,NaN,Canada,CA,Quebec,42786,Châteauguay,2.98682,...,"(45.322600000000001, -73.777100000000004)",Landslide,Riverbank collapse,Small,Rain,NaN,NaN,NaN,Le Soleil,http://www.hebdos.net/lsc/edition162007/articl...
4,61,4/15/07,NaN,NaN,United States,US,Kentucky,6903,Pikeville,5.66542,...,"(37.432499999999997, -82.493099999999998)",Landslide,Landslide,Small,Downpour,NaN,NaN,0.0,Matthew Crawford (KGS),NaN

In [63]:
# column: 'date'
landslides.date

0        3/2/07
1       3/22/07
2        4/6/07
3       4/14/07
4       4/15/07
         ...
1688    12/7/15
1689    2/22/16
1690    2/23/16
1691    2/26/16
1692     3/2/16
Name: date, Length: 1693, dtype: object

In [64]:
# we need to tell python the type of this column
print(f"The type of the column Date is: {landslides.date.dtype}")
print(f"The type of the data?? {type(landslides.date)}")

The type of the column Date is: object
The type of the data?? <class 'pandas.core.series.Series'>

In [65]:
# convert to datetime (default format yyyy-mm-dd)
landslides['parsed_date'] = pd.to_datetime(landslides.date)
landslides.parsed_date

/var/folders/ss/8t40j75527v3c6rlj37_lltc0000gn/T/ipykernel_63768/3415788402.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  landslides['parsed_date'] = pd.to_datetime(landslides.date)

0      2007-03-02
1      2007-03-22
2      2007-04-06
3      2007-04-14
4      2007-04-15
          ...
1688   2015-12-07
1689   2016-02-22
1690   2016-02-23
1691   2016-02-26
1692   2016-03-02
Name: parsed_date, Length: 1693, dtype: datetime64[ns]

In [66]:
# Parsing exercise
data = { 
  'Date': ['31/1/2010', '1975-02-23T02:58:41.000Z', '31/1/2011'],
  'Data': ['a', 'b', 'c'],
}
df_dates = pd.DataFrame.from_dict(data)
df_dates

                       Date Data
0                 31/1/2010    a
1  1975-02-23T02:58:41.000Z    b
2                 31/1/2011    c

In [67]:
# parsing columns
idx_dd_mm_yyyy = np.where(df_dates.Date.str.len() < 11)[0]
idx_iso = np.where(df_dates.Date.str.len() >= 11)[0]
print(f"Índices en formato dd/mm/yyyy: {idx_dd_mm_yyyy}")
print(f"Índices en formato ISO: {idx_iso}")

Índices en formato dd/mm/yyyy: [0 2]
Índices en formato ISO: [1]

In [68]:
df_dd_mm_yyyy = df_dates.loc[idx_dd_mm_yyyy]
df_iso = df_dates.loc[idx_iso]
print(f"DataFrame de datos dd_mm_yyyy\n{serie_dd_mm_yyyy}")
print(f"DataFrame de datos iso\n{serie_iso}")

DataFrame de datos dd_mm_yyyy
        Date Data
0  31/1/2010    a
1  31/1/2011    b
DataFrame de datos iso
                       Date Data
2  1975-02-23T02:58:41.000Z    c

In [69]:
date_parsed_dd_mm_yyyy = pd.to_datetime(df_dd_mm_yyyy.Date)
date_parsed_iso =  pd.to_datetime(df_iso.Date, format='ISO8601')
print(f"Datos en formato dd/mm/yyyy:\n{date_parsed_dd_mm_yyyy}")
print(f"Datos en formato ISO:\n{date_parsed_iso}")

Datos en formato dd/mm/yyyy:
0   2010-01-31
2   2011-01-31
Name: Date, dtype: datetime64[ns]
Datos en formato ISO:
1   1975-02-23 02:58:41+00:00
Name: Date, dtype: datetime64[ns, UTC]

/var/folders/ss/8t40j75527v3c6rlj37_lltc0000gn/T/ipykernel_63768/4144644937.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  date_parsed_dd_mm_yyyy = pd.to_datetime(df_dd_mm_yyyy.Date)

In [70]:
df_dates.loc[idx_dd_mm_yyyy, "Date"] = date_parsed_dd_mm_yyyy.values
df_dates.loc[idx_iso, "Date"] = date_parsed_iso.values
df_dates

                            Date Data
0  2010-01-31T00:00:00.000000000    a
1  1975-02-23T02:58:41.000000000    b
2  2011-01-31T00:00:00.000000000    c