**HANDLING MISSING VALUES**

In [1]:
# load data
import pandas as pd
nfl_data = pd.read_csv("NFL Play by Play 2009-2017 (v4).csv")

/var/folders/ss/8t40j75527v3c6rlj37_lltc0000gn/T/ipykernel_31568/3188637942.py:3: DtypeWarning: Columns (25,51) have mixed types. Specify dtype option on import or set low_memory=False.
  nfl_data = pd.read_csv("NFL Play by Play 2009-2017 (v4).csv")

In [2]:
# set seed for reproducibility
import numpy as np

np.random.seed(0)

In [3]:
# Look at some data
nfl_data.head()

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [10]:
# how many missing data do we have
nfl_data.isnull().sum().sort_values(ascending=False)

DefTwoPoint         407664
BlockingPlayer      407571
TwoPointConv        407083
ChalReplayResult    404286
RecFumbPlayer       403315
                     ...
Sack                     0
Challenge.Replay         0
Accepted.Penalty         0
Penalty.Yards            0
Season                   0
Length: 102, dtype: int64

In [12]:
total_cells = np.product(nfl_data.shape)
total_missing = nfl_data.isnull().sum().sum()

print(f"Total cells: {total_cells} with {total_missing/total_cells*100:.2f} % of missing values")

Total cells: 41584176 with 27.67 % of missing values

In [ ]:
# The data doesn't make sense (NaN) or the data wasn't recorded (IMPUTATION)

In [14]:
# Drop rows with almost 1 missing value
nfl_data_clean_by_rows = nfl_data.dropna(axis=0) # axis = 0 indicates to review row by row
print(f"Original df {nfl_data.shape} versus clean df {nfl_data_clean_by_rows.shape}")

Original df (407688, 102) versus clean df (0, 102)

In [13]:
# Drop columns with almost 1 misssing value
nfl_data_clean_by_cols = nfl_data.dropna(axis=1)  # axis = 1 indicates to review col by col
print(f"Original df {nfl_data.shape} versus clean df {nfl_data_clean_by_cols.shape}")

Original df (407688, 102) versus clean df (407688, 37)

In [ ]:
# Filling missing values in some columns
# 'EPA':'Season' selects columns from EPA to Season
nfl_data_columns_to_fill = nfl_data.loc[:, 'EPA':'Season']
# Fill these columns with zeroes
nfl_data_clean_by_cols.fillna(0)
# Fill column with the other methods
nfl_data_clean_by_cols.fillna(method='bfill', axis=0) # bfill indicates the value of the next row