**TIME SERIES Dependency**

In [3]:
import pandas as pd
reserve = pd.read_csv('reserve.csv', parse_dates={'Date': ['Year', 'Month', 'Day']},
                      index_col='Date')
y = reserve.loc[:, 'Unemployment Rate'].dropna().to_period('M')
df = pd.DataFrame({
  'y': y,
  'y_lag_1': y.shift(1),
  'y_lag_2': y.shift(2),
})
df.head()

           y  y_lag_1  y_lag_2
Date
1954-07  5.8      NaN      NaN
1954-08  6.0      5.8      NaN
1954-09  6.1      6.0      5.8
1954-10  5.7      6.1      6.0
1954-11  5.3      5.7      6.1