**HYBRID MODELS**

In [2]:
# series = trend + seasons + cycles + error
import pandas as pd


store_sales = pd.read_csv('train.csv', usecols=['store_nbr', 'family', 'date', 'onpromotion'],
  dtype={'store_nbr': 'category', 'family': 'category', 'sales': 'float32', 'onpromotion': 'uint32'},
  parse_dates=['date'],
  infer_datetime_format=True
)
store_sales.head()

        date store_nbr      family  onpromotion
0 2013-01-01         1  AUTOMOTIVE            0
1 2013-01-01         1   BABY CARE            0
2 2013-01-01         1      BEAUTY            0
3 2013-01-01         1   BEVERAGES            0
4 2013-01-01         1       BOOKS            0

In [3]:
store_sales['date'] = store_sales.date.dt.to_period('D')
store_sales =store_sales.set_index(['store_nbr', 'family', 'date']).sort_index()

In [4]:
family_sales = (store_sales.groupby(['family', 'date']).mean().unstack('family').loc['2017'])

In [5]:
test = pd.read_csv('test.csv', dtype={
  'store_nbr': 'category', 
  'family': 'category', 
  'onpromotion': 'uint32',
  },
  parse_dates=['date'],
  infer_datetime_format=True
)
test['date'] = test.date.dt.to_period('D')
test = test.set_index(['store_nbr', 'family', 'date']).sort_index()

In [6]:
import ipywidgets as widgets
datasets = [family_sales, family_sales]
data_tabs = widgets.Tab([widgets.Output() for _ in enumerate(datasets)])
for i, df in enumerate(datasets):
  data_tabs.set_title(i, f'Dataset {i+1}')
  with data_tabs.children[i]:
    display(df)
display(data_tabs)

Tab(children=(Output(), Output()), selected_index=0, titles=('Dataset 1', 'Dataset 2'))